<% include ../partials/header.ejs%>
    <div class='container default-page-top-margin'>
        <div class='row justify-content-md-center default-item-bottom-margin'>
            <div class='col-md-6'>
                <div class='container'>
                    <h1 class='center-text-item'><%=item.erpId%></h1>
                    <img src='<%=item.imageDisplay%>' class='img-fluid rounded mx-auto d-block' alt='<%=item.name%>'>
                    <div class='container'>
                        <label class='default-item-top-margin' for='name'>Name</label>
                        <input class='form-control default-item-bottom-margin' id='name' value='<%=item.name%>' readonly>
                        <div class='row default-item-top-margin'>
                        <div class='col-md-6'>
                            <label for='createdBy'>Created By</label>
                            <input class='form-control default-item-bottom-margin' id='createdBy' value='<%=item.createdBy.username%>' readonly>
                        </div>
                        <div class='col-md-6'>
                            <label for='createdDate'>Created Date</label>
                            <input class='form-control default-item-bottom-margin' id='createdDate' value='<%=moment(item.createdDate).format('MMM DD YYYY h:m:ss')%>' readonly>
                        </div>
                    </div>
                    <div class='row default-item-top-margin'>
                        <div class='col-md-6'>
                            <label class='' for='updateBy'>Updated By</label>
                            <input class='form-control default-item-bottom-margin' id='updateBy' value='<%=item.updatedBy.username%>' readonly>
                        </div>
                        <div class='col-md-6'>
                            <label for='updateDate'>Updated Date</label>
                            <input class='form-control default-item-bottom-margin' id='updateDate' value='<%=moment(item.updatedDate).format('MMM DD YYYY h:m:ss')%>' readonly>
                        </div>
                    </div>
                    <div class='row default-item-top-margin'>
                        <div class='col-md-6'>
                            <label for='qty'>Quantity</label>
                            <input class='form-control default-item-bottom-margin' id='qty' value='<%=item.addQuantity%>' readonly>
                        </div>
                        <div class='col-md-6'>
                            <label for='weight'>Weight</label>
                            <input class='form-control default-item-bottom-margin' id='weight' value='<%=item.weight%>' readonly>
                        </div>
                    </div>
                    <label for='notes'>Notes</label>
                    <textarea class='form-control medium-item-bottom-margin' id='notes' readonly><%=item.notes%></textarea>
                        
                    </div>
                    <a class='btn btn-primary btn-block' href='/tasks/item/<%=batchId%>/<%=item._id%>/new'>Task</a>
                    <a class='button-top-margin btn btn-warning btn-block' href='/batches/<%=batchId%>/items/<%=item.id%>/edit'>Edit</a>
                    <form method='POST' action='/batches/<%=batchId%>/items/<%=item.id%>?_method=DELETE'>
                        <input class='button-top-margin default-item-bottom-margin btn btn-danger btn-block' type='submit' value='Delete'>
                    </form>
                    <a href='javascript:history.back()'>Back!</a>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer.ejs%>