<h1>Batches Show</h1>
<a href='/batches'>All Batches</a>

<h3><%=batch.name%></h3>
<h3><%=batch.createdDate%></h3>
<a href='/batches/<%=batch.id%>/edit'>Edit</a>
<form method='POST' action='/batches/<%=batch.id%>?_method=DELETE'>
    <input type='submit' value='Delete'>
</form>
<h2>Items</h2>
<a href='/batches/<%=batch.id%>/items/new'>New Item</a>
<%batch.items.forEach((item)=>{%>
    <img src='<%=item.image%>' >
    <h4><%=item.erpId%></h4>
    <p><%=item.addQuantity%></p>
    <a href='/batches/<%=batch.id%>/items/<%=item.id%>/edit'>Edit</a>
    <hr>
<%})%>