<% include ../partials/header.ejs%>
<h1>Batches Show</h1>


<h3><%=batch.name%></h3>
<h3><%=batch.createdDate%></h3>
<%if(currentUser && currentUser.role == 'admin'){%>
    <a href='/batches/<%=batch.id%>/edit'>Edit</a>
    <form method='POST' action='/batches/<%=batch.id%>?_method=DELETE'>
        <input type='submit' value='Delete'>
    </form>
<%}%>
<a href='/tasks/batch/<%=batch.id%>/new%>'>Task</a>

<hr>
<h2>Items</h2>
<a href='/batches/<%=batch.id%>/items/new'>New Item /batches/<%=batch.id%>/items/new</a>
<hr>
<%batch.items.forEach((item)=>{%>
    <img src='<%=item.imageDisplay%>' >
    <h4><%=item.erpId%></h4>
    <p><%=item.addQuantity%></p>
    <a href='/batches/<%=batch.id%>/items/<%=item.id%>'>View</a>
    <a href='/batches/<%=batch.id%>/items/<%=item.id%>/edit'>Edit</a>
    <form method='POST' action='/batches/<%=batch.id%>/items/<%=item.id%>?_method=DELETE'>
        <input type='submit' value='Delete'>
    </form>
    <a href='/tasks/item/<%=batch._id%>/<%=item._id%>/new'>Task</a>
    <hr>
<%})%>
<% include ../partials/footer.ejs%>