<% include ../partials/header.ejs%>
<div class='container default-page-top-margin'>
    <h2 class='center-text-item'>Create Group</h1>
    <div class='row justify-content-md-center'>
        <div class='col-sm-7'>
            <div class='container'>
                <form method='POST' action='/groups/<%=group._id%>?_method=PUT'>
                    <div class='form-group'>
                        <label for='name'>Name</label>
                        <input class='form-control' type='text' name='name' id='name' value='<%=group.name%>'>
                    </div>
                    <div class='container'>
                        <label for='allUserList' class='center-text-item'>Users</label>
                        <div id='allUserList' class="form-group row">
                            <%group.members.forEach((member)=>{%>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" name='check' type="checkbox" id="<%=member.username%>" value='<%=member._id%>' checked>
                                        <label class="form-check-label" for="<%=member.username%>"><%=member.username%></label>
                                    </div>
                                </div>
                            <%})%>
                            <%userList.forEach((user)=>{%>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" name='check' type="checkbox" id="<%=user.username%>" value='<%=user._id%>'>
                                        <label class="form-check-label" for="<%=user.username%>"><%=user.username%></label>
                                    </div>
                                </div>
                            <%})%>
                        </div>    
                    </div>
                    <div class='form-group'>
                        <label for='members'>Members</label>
                        <textarea name='members' id='members' class='form-control' readonly></textarea>
                    </div>
                    <input class='btn btn-success btn-block' type='submit' value='Update'>
                </form>
                <a href='javascript:history.back()'>Back!</a>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    let yList=[];
    $('input:checked').each(function(){
        if(yList.length==0){
            yList = $(this).attr('id');
        }else{
            yList= yList + ', ' + $(this).attr('id');
        }
        $('#members').val(yList);
    });
    

    $('input').change(()=> {
        yList = [];
        $('input:checked').each(function(){
            if(yList.length==0){
                yList = $(this).attr('id');
            }else{
                yList= yList + ', ' + $(this).attr('id');
            }
        });
        $('#members').val(yList);
    });
});
</script>
<% include ../partials/footer.ejs%>