<% include ../partials/header.ejs%>
<h1>Edit Task</h1>
<form method='POST' action='/tasks/<%=task.id%>?_method=PUT'>
    <label for='type'>Type</label>
    <input type='text' id='type' value='<%=task.type%>' readonly>
    <label for='by'>Created By</label>
    <input type='text' id='by' value='<%=task.createdBy.username%>' readonly>
    <label for='title'>Title</label>
    <input type='text' name='task[title]' id='title' value='<%=task.title%>'> 
    <label for='desc'>Description</label>
    <input type='text' name='task[desc]' id='desc' value='<%=task.desc%>'>
    <input type='submit' value='Upadte'>
</form>
<% include ../partials/footer.ejs%>