<% include ../partials/header.ejs%>
<div class='container default-page-top-margin medium-item-bottom-margin'>
    <h1 class='center-text-item'>Create Task</h1>
    <div class='row'>
        <div class='form-setup'>
            <%if(tempTask.type=='item'){%>
                <form method='POST' action='/tasks/<%=tempTask.type%>/<%=tempTask.primaryId%>/<%=tempTask.secondaryId%>'>
            <%}else{%>
                <form method='POST' action='/tasks/<%=tempTask.type%>/<%=tempTask.primaryId%>'>
            <%}%>
            <%if(currentUser && currentUser.role == 'admin'){%>
                <div class="form-group" >
                    <label for="groupList">Task Group</label>
                    <select class="form-control" id='groupList' name='group' required>
                    <%tempTask.groupLists.forEach((group)=>{%>
                        <option value='<%=group._id%>'><%=group.name%></option>
                    <%})%>
                    <option value='createNewGroup'>Create New Group</option>
                    </select>
                </div>
                <a class='btn btn-info btn-block' id='groupButton' href='/groups/new'>Create Group</a>
            <%}%>
            <div class='form-group'>  
                <label for='title'>Title</label>
                <input class='form-control' type='text' name='task[title]' id='title' placeholer='Task Title' required> 
            </div> 
            <div class='form-group'>
                <label for='desc'>Description</label>
                <input class=' form-control' type='text' name='task[desc]' id='desc' placeholer='Description' >
            </div>
                <div class='form-group'>
                    <label for='type'>Type</label>
                    <input class='form-control' type='text' id='type' value='<%=tempTask.type%>' readonly>
                </div>
                <div class='form-group '>
                    <label for='by'>Created By</label>
                    <input class='form-control' type='text'  id='by' value='<%=currentUser.username%>' readonly>
                </div> 
                <%if(tempTask.type=='item'){%>
                    <label for='batch'>Batch Name</label>
                    <input class='form-control' type='text' name='batchName' id='batch' value='<%=tempTask.batchName%>' readonly> 
                    <label for='erpId'>Item ID</label>
                    <input class='form-control' type='text' name='name' id='erpId' value='<%=tempTask.name%>' readonly> 
                <%}else{%>
                    <label for='name'><%if(tempTask.role=='user'){%>User <%}%> Name</label>
                    <input class='form-control' type='text' name='name' id='name' value='<%=tempTask.name%>' readonly>
                <%}%>
                <%if(currentUser && currentUser.role == 'admin'){%>
                    <button class='btn btn-lg btn-primary btn-block default-page-top-margin' id='submitButton' type='submit' disabled>Create</button>
                <%}else{%>
                <button class='btn btn-lg btn-primary btn-block default-page-top-margin' id='submitButton' type='submit'>Create</button>
                <%}%>
            </form>
        </div>
    </div>
</div>
<script>

$(document).ready(function() {
    if ($('#groupList option:selected').val() == 'createNewGroup'){
        $('#groupButton').show();
        $('#submitButton').prop('disabled', true);
        $("#title").prop('disabled', true);
        $("#desc").prop('disabled', true);
        } else{
            $('#groupButton').hide();
            $('#submitButton').prop('disabled', false);
        } 
    $('#groupList').change(()=> {
        $("#title").prop('disabled', true);
        $("#desc").prop('disabled', true);
        if ($('#groupList option:selected').val() == 'createNewGroup'){
            $('#groupButton').show();
            $('#submitButton').prop('disabled', true);
            $("#title").prop('disabled', true);
            $("#desc").prop('disabled', true);
        }else{
            $('#submitButton').prop('disabled', false);
            $('#groupButton').hide();
            $("#title").prop('disabled', false);
            $("#desc").prop('disabled', false);
        }     
    });
});
</script>
<% include ../partials/footer.ejs%>