<% include ../partials/header.ejs%>
<div class='container default-page-top-margin medium-item-bottom-margin'>
    <div class='row'>
        <div class='col-md-4'>
            <div class='container'>
                <h2 class='text-center'><a><%= task.title%> <span class='bold-item'><%=task.status%></span></a></h2>
                <label for='created'>Created By</label>
                <input class='form-control default-item-bottom-margin' id='created' value='<%=task.createdBy.username%>' readonly>
                <label for='date'>Created Date</label>
                <input class='form-control default-item-bottom-margin' id='date' value='<%=moment(task.date).format('MMM DD YYYY')%>' readonly>
                <label for='desc'>Description</label>
                <textarea class='form-control default-item-bottom-margin' id='desc' readonly><%=task.desc%></textarea>
                <div class=''>
                    <label class='' for='name'>Group Name</label>
                    <input class='form-control default-item-bottom-margin' id='name' value='<%=group.name%>' readonly>
                    <label for='members'>Group Members</label>
                    <textarea class='form-control default-item-bottom-margin' readonly><%group.members.forEach((member)=>{%><%=member.username+'\n'%><%})%></textarea>
                </div>
                <div class='container default-item-bottom-margin'>
                    <%if(task.type == 'item' || task.type == 'batch'){%>
                        <a class='btn btn-info btn-block' href='/batches/<%=task.primaryId%>'>View Item</a>
                    <%}else if(task.type == 'user'){%>
                        <a class='btn btn-info btn-block' href='/users/<%=task.primaryId%>'>View User</a>
                    <%}%>
                    <a class='btn btn-warning btn-block' href='/tasks/<%=task._id%>/edit'>Edit</a>
                    <%if(currentUser && currentUser.role == 'admin'){%>
                        <form class='button-top-margin' method='POST' action='/tasks/<%=task.id%>?_method=PUT'>
                            <%if(task.status == 'open'){%>
                                <input type='hidden' name='task[status]' value='closed'>
                                <input type='submit' class='btn btn-danger btn-block' value='close'>
                            <%}else{%>
                                <input type='hidden' name='task[status]' value='open'>
                                <input type='submit' class='btn btn-success btn-block' value='open'>
                            <%}%>
                        </form>
                    <%}%>
                 </div>
            </div>
        </div>
        <div class='col-md-8'>
            <div class='card card-body bg-light'>
                <div>
                    <a href='/tasks/<%=task.id%>/comments/new'  class='btn btn-success btn-block'>New Comment</a>
                </div>
                <hr>
                <%task.comments.forEach((comment)=>{%>
                    <p class='bold-item'><%=comment.createdBy.username%></p>
                    <p><%=comment.text%></p>
                    <%if(currentUser && currentUser.role == 'admin' || currentUser.username == comment.createdBy.username){%>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12'>
                                <a class='float-left btn btn-warning btn-sm' href='/tasks/<%=task.id%>/comments/<%=comment.id%>/edit'>Edit</a>
                                <form class='float-right' method='POST' action='/tasks/<%=task.id%>/comments/<%=comment.id%>?_method=DELETE'>
                                    <input class='btn btn-danger btn-sm' type='submit' value='Delete'>
                                </form>
                            </div>
                        </div>
                    </div>
                    <%}%>
                <hr>
                <%})%>
                <div>
                    <a href='/tasks/<%=task.id%>/comments/new'  class='btn btn-success btn-block'>New Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>