<% include ../partials/header.ejs%>
<div class='container default-page-top-margin medium-item-bottom-margin'>
    <div class='row justify-content-md-center'>
        <div class='col-md-9'>
            <div class='container'>
                <div> <h4 class='float-right'><%=moment(task.date).format('MMM DD YYYY')%></h4></div>
               
                <h2><a><%= task.title%> <span class='bold-item'><%=task.status%></span></a></h2>
                <p><%=task.desc%></p>
                <p>Created by: <%=task.createdBy.username%></p>
                <div class='container'>
                    <div class='row text-center default-item-bottom-margin'>
                    <div class="col-4">
                        <%if(task.type == 'item' || task.type == 'batch'){%>
                            <a class='btn btn-info' href='/batches/<%=task.primaryId%>'>View Item</a>
                        <%}else if(task.type == 'user'){%>
                            <a class='btn btn-info' href='/users/<%=task.primaryId%>'>View User</a>
                        <%}%>
                    </div>
                    <div class="col-4">
                    <a class='btn btn-warning' href='/tasks/<%=task._id%>/edit'>Edit</a>
                    </div>
                    <div class="col-4">
                        <%if(currentUser && currentUser.role == 'admin'){%>
                            <form class='' method='POST' action='/tasks/<%=task.id%>?_method=PUT'>
                                <%if(task.status == 'open'){%>
                                    <input type='hidden' name='task[status]' value='closed'>
                                    <input type='submit' class='btn btn-danger' value='close'>
                                <%}else{%>
                                    <input type='hidden' name='task[status]' value='open'>
                                    <input type='submit' class='btn btn-success' value='open'>
                                <%}%>
                            </form>
                        <%}%>
                    </div>                      
                    </div>
                </div>
            </div>
            <div class='card card-body bg-light'>
                <div>
                    <a href='/tasks/<%=task.id%>/comments/new'  class='btn btn-success float-right'>Add new Comment</a>
                </div>
                <hr>
                <%task.comments.forEach((comment)=>{%>
                    <p class='bold-item'><%=comment.createdBy.username%></p>
                    <p><%=comment.text%></p>
                    <%if(currentUser && currentUser.role == 'admin' || currentUser.username == comment.createdBy.username){%>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12'>
                                <a class='float-left btn btn-warning btn-sm' href='/tasks/<%=task.id%>/comments/<%=comment.id%>/edit'>Edit</a>
                                <form class='float-right' method='POST' action='/tasks/<%=task.id%>/comments/<%=comment.id%>?_method=DELETE'>
                                    <input class='btn btn-danger btn-sm' type='submit' value='Delete'>
                                </form>
                            </div>
                        </div>
                    </div>
                    <%}%>
                <hr>
                <%})%>
            </div>
    </div>
    

      
    </div>
</div>
<% include ../partials/footer.ejs%>