<h1>Edit user <%=user.username%></h1>
<form method='POST' action='/users/<%=user.id%>?_method=PUT'>
<label for='username'>Username</label>
<input type='text' name='user[username]' id='username' value='<%=user.username%>' readonly required >
<label for='email'>Email</label>
<input type='email' name='user[email]' id='email' value='<%=user.email%>''>
<%if(currentUser && currentUser.role == 'admin' ){%>
    <label for='role'>Role</label>
    <select type='select' name='user[role]'>
    <%if(user.role=='admin'){%>
        <option value='admin' selected>Admin</option>
        <option value='standard'>Standard User</option>
    <%}else{%>
    <option value='standard' select>Standard User</option>
    <option value='admin' >Admin</option>
    <%}%>    
    </select> 
<%}else{%>
    <label for='roleDisplay'>Role</label>
    <input type='text' name='user[role]' id='roleDisplay' value='<%=user.role%>' readonly>
<%}%>
<button>Update</button>
</form>